a {
  color: #2195D3;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.my-body-class{
  background-image: url(../public/images/corner.png);
  background-repeat: no-repeat;
  background-position: top right;
}